<header id="layout-header">
    <nav>
        <div class="nav-header">
            <div class="mini-logo">
                <a href='/'>RaftLabs</a>
            </div>
        </div>

        <div class="nav-links">
            <a href="/">Home</a>
        </div>
    </nav>

</header>